@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

*{
  box-sizing:border-box;
  color: #161616;

}

body {
  background-color: #f7f7f7;
  color: #161616;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
    scrollbar-width: none;
}

h1{
  color: #161616;

  margin: 0;
}
h2{
  color: #161616;

}

p{
  color: #161616;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-wrapper{
  min-width: 95vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  height: 10vh;
  align-items: center;
  background-color: #eeeeee;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  margin-left: 40px;

}

header a:hover{
  text-decoration: underline;
  color: #4d4d4d;
  font-weight: 700;
  margin-left: 40px;

}

nav{
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

main{
  width: 100%;
  min-height: 85vh;
  color: white;
}

footer{
  background-color: #161616;
  color: #aaaaaa;
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.home-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  background-image: url(./images/home-hero.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 40px;
}

.home-container h1{
  text-shadow: 2px 2px black;
}

.home-container a{
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 50%;
  height: 60px;
  background-color: rgb(252, 197, 77);
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.home-container a:hover{
  background-color: rgb(204, 157, 54) ;
}

/*About page*/
.about-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 400px) {
  .about-page-container img{
    object-fit: cover;
    height: 50vh;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .about-page-container img{
    object-position:0 -260px;
    object-fit: cover;
    height: 50vh;
    width: 100%;
  }
  
}

.about-page-content{
  padding-top: 20px;
  max-width: 80%;
}

.about-page-content p{
  margin:auto;
  text-align: center;
  font-size: 20px;
  max-width: 60%;
  margin-bottom: 5px;
}

.about-page-cta{
  padding-bottom: 20px;
  margin:  20px;
}

.about-page-cta h2{
  margin-bottom: 20px;
}

.about-page-cta a{
  text-decoration: none;
  background-color: rgb(252, 197, 77);
  color: white;
  padding: 10px 200px;
  max-width: 300px;
  border: 0;
  border-radius: 10px;
  min-height: 50px;
}

.about-page-cta a:hover{
  background-color: rgb(204, 157, 54);
}

/*VAN PAGES*/

.van-card{
  margin-top: 0;
}

.van-card a {
  color: #161616;
  text-decoration: none;
}

.van-card img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  text-align: center;
  height: 34px;
  max-width: 150px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: 10px;
  height: 34px;
  font-weight: 600;
  border:0;
  border-radius: 6px;
  font-size: 18px;
  padding: 5px 20px;
  background-color: rgb(255, 103, 103);
  color: white;
}

.van-list-container {
  padding-inline: 23px;
  padding-bottom: 40px;

}

.van-list-container h1{
  margin-bottom: 20px;
}

.van-list-filter-buttons {
  display: flex;
  flex-wrap: wrap;
}

.van-list-filter-buttons > a {
  margin-right: 15px;
}

.van-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  margin-top: 57px;
  flex-shrink: 0;
}

.type-btn{
  background: #e17654;
  color: white;
  font-weight: 600;
  border:0;
  border-radius: 6px;
  font-size: 18px;
  padding: 5px 20px;
}

.van-image{
  max-height: 500px;
  object-fit:scale-down;
  margin-right: 30px;
}

.host-navlink{
  margin-left: 40px;
}

.van-detail-element{
  border: red solid 1px;
  margin: auto;
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin-top: 57px;
}

.van-info p{
  min-width: 100px;
  max-width: 500px;
  text-wrap: wrap;
}

/*HostVan*/

.host-nav-container{
  margin: 30px; 
}

.host-nav-container nav{
  margin-bottom: 30px;
}

.host-nav-container nav a{
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
}

.host-nav-container nav a:hover{
  text-decoration: underline;
  color: black;
  font-weight: 700;
}

.dashboard-container{
  margin-left: 40px;
}

.dashboard-container section{
  margin-bottom: 30px;
}

.host-van-detail-info{
  max-width: 1000px;
}

/*Income page*/
.income-container{
  margin: 0px 40px;

}

.transaction{
  
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.listed-vans-header{
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.host-vans-container a{
  text-decoration: none;
}



.host-van-card{
  cursor: pointer;
  max-width: 800px;
  display: flex;
  margin-bottom: 50px;
  margin-right: 40px;
  background-color: white;
}

.host-van-card:hover{
  background-color: rgb(204, 157, 54);
}

.host-van-card img{
  height: 100px;
  margin-right: 40px;
}


.host-van-card-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.host-vans-container{
  margin-left: 40px;
}

.host-vans-container h1{
  margin: 30px 0;
}

.back-link{
  margin-bottom: 30px;
  text-decoration: none;
  color: #161616;
}

.back-link:hover{
  text-decoration: underline;
  color: black;
  font-weight: 700;
}

.host-van-detail-container{
  margin-top: 30px;
}

.host-van-detail-container nav a{
  margin-right: 20px;
}

.host-van-detail-container-top{
  display: flex;
}

.host-van-detail-container-top img{
  height: 200px;
  margin-bottom: 30px;
  margin-right: 30px;
}

/*REVIEWS PAGE*/
.host-reviews{
  margin-left: 40px;
}

.graph{
  margin-bottom: 30px;
}

.review-star{
  color: #ff8c38;
  margin-right: 5px;
  font-size: 18px;
}

/*LOGIN PAGE*/
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1{
  margin: 40px 0;
}

.login-container form{
  display: flex;
  flex-direction: column;
}

.login-container form input{
  padding: 10px;
  min-width: 300px;
  border: 0;
  border-radius: 10px;
  min-height: 50px;
  margin-bottom: 10px;
} 


.login-container form button{
  background-color: rgb(252, 197, 77);
  padding: 10px;
  min-width: 300px;
  border: 0;
  border-radius: 10px;
  min-height: 50px;
  margin-bottom: 10px;
} 

.login-container form button:hover{
  background-color: rgb(204, 157, 54);
}
